<h3>Gold Profit</h3>
@if (!display){
<p-progress-spinner #spn strokeWidth="8" fill="transparent" />
}
@else{
<div class="card flex justify-center">
    <form [formGroup]="saveForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-3 w-full sm:w-56">
        <div class="flex flex-column">
            <input pInputText type="number" id="TRAND_ID" placeholder="Trans Id" formControlName="TRAND_ID"
                [invalid]="isInvalid('TRAND_ID')" />
            @if (isInvalid('TRAND_ID')) {
            <p-message severity="error" size="small" variant="simple">Trans Id is required.</p-message>
            }
        </div>
        <div class="flex flex-column">
            <input pInputText type="date" id="TRANS_DATE" placeholder="Trans Date" formControlName="TRANS_DATE"
                [invalid]="isInvalid('TRANS_DATE')" />
            @if (isInvalid('TRANS_DATE')) {
            <p-message severity="error" size="small" variant="simple">Trans Date is required.</p-message>
            }
        </div>
        <div class="flex flex-column">
            <input pInputText type="date" id="ZAKAH_DATE" placeholder="Zakah Date" formControlName="ZAKAH_DATE"
                [invalid]="isInvalid('ZAKAH_DATE')" />
            @if (isInvalid('ZAKAH_DATE')) {
            <p-message severity="error" size="small" variant="simple">Zakah Date is required.</p-message>
            }
        </div>
        <div class="flex flex-column">
            <input pInputText type="text" id="GOLD_TYPE" placeholder="Gold Type" formControlName="GOLD_TYPE"
                [invalid]="isInvalid('GOLD_TYPE')" />
            @if (isInvalid('GOLD_TYPE')) {
            <p-message severity="error" size="small" variant="simple">Gold Type is required.</p-message>
            }
        </div>
        <div class="flex flex-column gap-1">
            <input pInputText type="number" id="SPOT_PRICE_OZ" placeholder="Spot Price" formControlName="SPOT_PRICE_OZ"
                [invalid]="isInvalid('SPOT_PRICE_OZ')" />
            @if (isInvalid('SPOT_PRICE_OZ')) {
            <p-message severity="error" size="small" variant="simple">Spot Price is required.</p-message>
            }
        </div>
        <div class="flex flex-column gap-1">
            <input pInputText type="number" id="NO_GRAMS" placeholder="Grams" formControlName="NO_GRAMS"
                [invalid]="isInvalid('NO_GRAMS')" />
            @if (isInvalid('NO_GRAMS')) {
            <p-message severity="error" size="small" variant="simple">Grams is required.</p-message>
            }
        </div>
        <div class="flex flex-column gap-1">
            <input pInputText type="number" id="MARKET_PRICE" placeholder="Market Price" formControlName="MARKET_PRICE"
                [invalid]="isInvalid('MARKET_PRICE')" />
            @if (isInvalid('MARKET_PRICE')) {
            <p-message severity="error" size="small" variant="simple">Market Price is required.</p-message>
            }
        </div>
        <div class="flex flex-column gap-1">
            <input pInputText type="number" id="SALES_TAX" placeholder="Sales Tax" formControlName="SALES_TAX"
                [invalid]="isInvalid('SALES_TAX')" />
            @if (isInvalid('SALES_TAX')) {
            <p-message severity="error" size="small" variant="simple">Sales Tax is required.</p-message>
            }
        </div>
        <button pButton type="submit"><span pButtonLabel>Save Profit</span></button>
    </form>
</div>
}